<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<title>Cadastro de Convidados</title>
	
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
		rel="stylesheet" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap-theme.min.css}"
		rel="stylesheet" />
	
	<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>	
</head>
<body>
	<form class="form-inline" method="POST" th:action="@{/guests}"
		th:object="${guest}"
		style="margin: 20px 0">
		<div class="panel panel-default" style="margin: 10px">
			<div class="panel-heading">
				<h1 class="panel-title">Cadastro de convidados</h1>
			</div>
				
			<div class="panel-body">
				<div class="col-sm-12">
					<input type="hidden" th:field="*{id}"/>
					
					<div class="fform-group col-md-3 col-sm-6">
						<label>Nome</label>
						<input type="text" class="form-control" 
							placeholder="Nome" th:field="*{name}"/>
					</div>					
				
					<div class="form-group col-md-9 col-sm-6">
						<label>Acompanhantes</label>
						<input type="text" class="form-control"	
							placeholder="Acompanhantes" th:field="*{companionAmount}"/>
					</div>
				</div>
			</div>
			
			<div class="panel-footer">
				<button type="submit"
				class="btn btn-success">
					<span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Gravar
				</button>
			</div>	
		</div>	
	</form>
</body>
</html>